:root {
  --font-family: "Noto Sans", "Noto Sans CJK SC", sans-serif;
  --font-weight: 400;
  --font-weight-bold: 700;
  --text-scale: 1.2;
  --font-size-x-display: 4.3rem;
  --font-size-display: 3.583rem;
  --font-size-xxx-large: 2.986rem;
  --font-size-xx-large: 2.488rem;
  --font-size-x-large: 2.074rem;
  --font-size-large: 1.728rem;
  --font-size-medium: 1.2rem;
  --font-size: 1rem;
  --font-size-small: 0.833rem;
  --line-height-text: 1.4;
  --line-height-heading: 1;

  --color-background: #fff;
  --color-background-selection: #ffecd9;
  --color-text-default: #302921;
  --color-text-alt: #fff;
  --color-accent: #bc262c;
  --color-accent-darker: #821b20;
  --color-base: #302921;
  --border-color: #302921;

  --grid-column-gap: 2vw;
  --grid-row-gap: 4vh;
  --max-width: 84rem;
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-x-large: 4rem;
  --spacing-xx-large: 8rem;
  --duration-default: 0.25s;

  --border-radius-circle: 50%;
  --border-width: 1px;
  --border-width-thick: 3px;
  --border-style-thin: var(--border-width) solid var(--border-color);
  --border-style-thick: var(--border-width-thick) solid var(--border-color);

  --max-width: 90rem;
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing: 0.75rem;
  --spacing: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-x-large: 4rem;
}

body {
  color: var(--color-text-default);
  display: grid;
  font-family: var(--font-family);
  font-size: var(--font-size);
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
  margin: 0;
}

header {
  grid-column: 2 / 8;
  grid-row: 1;
}

h1 {
  color: var(--color-accent);
  font-size: var(--font-size-x-display);
}

.cover {
  background-color: var(--color-background-alt);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
}

.moon {
  background-color: var(--color-background-selection);
  border-radius: var(--border-radius-circle);
  grid-column: 1 / 2;
  height: 200px;
  width: 200px;
}

.title {
  grid-column: 1 / -1;
}

.banyan-city {
  grid-column: 3 / -1;
  height: auto;
  width: 200px;
  z-index: -1;
}

.stamp {
  grid-column: 3 / -1;
  height: auto;
  width: 50px;
}

nav {
  grid-column: 4 / 5;
  grid-row: 2;
}

main {
  grid-column: 3 / 6;
}

footer {
  grid-column: 2 / 8;
  grid-row: 3;
}

h1 span {
  color: var(--color-accent-darker);
  display: block;
  font-size: var(--font-size-xxx-large);
}

h2 {
  font-size: var(--font-size-xxx-large);
}

h3 {
  font-size: var(--font-size-xx-large);
}

h4 {
  font-size: var(--font-size-x-large);
}

h5 {
  font-size: var(--font-size-medium);
}

h6 {
  font-size: var(--font-size-medium);
}

p {
  font-size: var(--font-size);
  line-height: var(--line-height-text);
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-text);
}

li + li {
  margin-block-start: var(--spacing);
}

cite {
  display: block;
}

a:link {
  color: var(--color-accent);
}

header a:link,
header a:visited,
header a:hover,
header a:focus {
  color: inherit;
  text-decoration: none;
}
